/*generales*/

*{
  box-sizing: border-box;

}

html,body {
    height: 100%;  
    margin: 0;
    padding: 0;
}
   
  body { 
  font-family: 'Source Sans Pro', sans-serif;
  color: #000000;
  background-color: #9e9e9e;
  display: flex;
  justify-content: center;
  align-items: center;
}    
 
h2.titulo2 {
  color:blue;
 }
 h1{
  font-size: 30px;
 }
div.colorprincipal {
  display: inline-block;
  width: 4cm;
  height: 4cm;
  border-radius: 12px;
  border: 1px solid #000000;
  resize: horizontal;
  overflow: auto;
  min-width: 50px; /*suggest a min-width &amp; min-height*/
  min-height: 50px;
  text-align: center;
  }

.data-color {
  background-color: #fba92c;
}

div.colorsecundario {
  display: inline-block;
  width: 3cm;
  height: 3cm;
  background-color: rgb(255, 255, 255);
  border-radius: 12px

}




 
  